<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form action="/save/" method="post">
            {% csrf_token %}

        <table align="center" border="2">
            <tr>
                <th> product register </th>
            </tr>
            <tr>
                <td>
                    <input type="number" placeholder="number" value="{{ p.id }}" name="pno" required>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="name" name="pname" value="{{ p.name }}" required>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" placeholder="price" name="pprice" value="{{ p.price }}" required>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" placeholder="quntity" name="pqty" value="{{ p.quntity }}" required>
                </td>
            </tr>
                <tr>
                    <td>
                        <input type="submit" value="save">
                    </td>
                </tr>
            <tr>
                <td>
                    {{ message }}
                </td>
            </tr>
        </table>
 </form>
 <b style="....>"> {{ message }}</b>
 {% if not product %}
     <h1> No data found in database</h1>
 {% else %}
      <table align="center" border="2">
            <tr>
            <th> product details </th>
            </tr>
        <tr>
            <td> IDNO </td>
            <td> NAME </td>
            <td> price </td>
            <td> quntity </td>
            <td> Update </td>
            <td> Delete </td>
        </tr>
        {% for x in product %}
        <tr>
            <td>{{ x.id }}</td>
             <td>{{ x.name }}</td>
            <td>{{ x.price }}</td>
            <td>{{ x.quntity}}</td>
            <td> <a href="/update/?update_id={{ x.id }}">
                update
            </a> </td>
                    <td>
                        <form action="/delete/" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Delete">
                            <input type="hidden" value="{{ x.id }}" name="delete_id">
                        </form>
                    </td>
        </tr>
        {% endfor %}

      </table>
{% endif %}
</body>
</html>
