<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/save/" method="post">
    {% csrf_token %}
    <table border="2" align="center">
         <tr>
            <td>
                <input type="radio" value="java" name="course">java
            </td>
        </tr>
         <tr>
            <td>
                <input type="radio" value="python" name="course">python
            </td>
        </tr>
         <tr>
            <td>
                <input type="radio" value="django" name="course">django
            </td>
        </tr>
         <tr>
            <td>
                <input type="radio" value="project" name="course">project
            </td>
        </tr>
         <tr>
            <td>
                <input type="submit" value="show">
            </td>
        </tr>


    </table>
</form>
{{ key }}
</body>
</html>