<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/save/" method="post">
    {% csrf_token %}
<table align="center" border="2">
    <tr>
        <td>
            register
        </td>
    </tr>
     <tr>
        <td>
            <input type="text" placeholder="name" name="t1" required>
        </td>
    </tr>
     <tr>
        <td>
            <input type="number" placeholder="cno" name="t2" required>
        </td>
    </tr>
     <tr>
        <td>
            <input type="email" placeholder="email" name="t3" required>
        </td>
    </tr>
     <tr>
        <td>
            <input type="number" placeholder="password" name="t4" required>
        </td>
    </tr>
     <tr>
        <td>
            <input type="submit" value="register">
        </td>
    </tr>
    <tr>
        <td>
            {{ msg }}
        </td>
    </tr>

</table>
</form>
    <form action="/login/" method="post">
        {% csrf_token %}
<table>
    <tr>
        <td>
            login
        </td>
    </tr>
     <tr>
        <td>
            <input type="email" placeholder="email" required name="t5">
        </td>
    </tr> <tr>
        <td>
            <input type="number" placeholder="pass" required name="t6">
        </td>
    </tr>
     <tr>
        <td>
            <input type="submit" value="login">
        </td>
    </tr>
    <tr>
        <td>
            {{ msg2 }}
        </td>
    </tr>



     </table>
    </form>
</body>
</html>