<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center">
    <tr>
        <th>
            details
        </th>
    </tr>
    <tr>
        <td>
            name
        </td>
    </tr>
        <tr>
        <td>
            name
        </td>
    </tr>
        <tr>
        <td>
            {{ d.name }}
        </td>
    </tr>
        <tr>
        <td>
            cno
        </td>
    </tr>
        <tr>
        <td>
            {{ d.cno }}
        </td>
    </tr>
        <tr>
        <td>
            email
        </td>
    </tr>
        <tr>
        <td>
            {{ d.email }}
        </td>
    </tr>
        <tr>
        <td>
            password
        </td>
    </tr>
        <tr>
        <td>
            {{ d.password }}
        </td>
    </tr>
</table>

</body>
</html>